testTcp/.vs/testTcp/v16/
testTcp/testTcp/obj/
testTcp/testTcp/bin/
testTcp/testTcp/testTcp_client/
testTcp/testTcp/readme/
testTcp/testTcp/pythonTest/.idea/
testTcp/testTcp/pythonTest/__pycache__/
testTcp/testTcp/pythonTest/Client_socketScript/__pycache__/
